* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-image: url("nice-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 10px;
}

.todo-app {
  width: 100%;
  max-width: 540px;
  position: relative;
  background: darkslategrey;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2 {
  color: darkorange;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 40px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 20px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.update:hover {
  color: darkslategray;
  background-color: lightgray;
  border-radius: 50px;
}
.update {
  color: black;
  left: 400px;
}

.delete {
  color: black;
}

.delete:hover {
  color: darkslategray;
  background-color: lightgrey;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: gold;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}

ul li {
  list-style: none;
  font-size: 17px;
  font-weight: 600;
  padding: 12px 40px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url("circle.png");
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: black;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url("check icon.png");
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: black;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li span:hover {
  background-color: lightslategray;
}
